In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import os
os.chdir("D:/user/User/pydata")

In [2]:
data=pd.read_csv('Fvote.csv', encoding='utf-8')

In [3]:
data.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [10]:
X=data[data.columns[1:13]]
X1=data.iloc[:,1:13]
y=data[['parties']]

In [9]:
X1.head()

,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
0,1,0,0,0,0,1,3,3,3,2,2,4.0
1,1,0,0,1,0,0,2,3,3,2,4,3.0
2,1,0,1,0,0,0,1,2,4,1,3,2.8
3,0,0,0,0,1,0,2,1,3,5,4,2.6
4,1,0,0,0,1,0,1,2,4,4,3,2.4

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42, stratify=y)

In [12]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [13]:
pred_train=model.predict(X_train)
model.score(X_train, y_train)

0.6139240506329114

In [15]:
pred_test = model.predict(X_test)
model.score(X_test, y_test)

0.5283018867924528

In [18]:
from sklearn.metrics import confusion_matrix
confusion_train = confusion_matrix(y_train, pred_train)
print("훈련데이터 오차행렬:\n", confusion_train)

훈련데이터 오차행렬:
 [[21  2  3 11]
 [ 1 25  2 12]
 [ 6  2  5  6]
 [ 7  8  1 46]]

In [19]:
confusion_test = confusion_matrix(y_test, pred_test)
print(confusion_test)

[[ 6  1  2  4]
 [ 1  9  1  2]
 [ 1  2  1  2]
 [ 2  5  2 12]]

In [22]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [0.001,0.01,0.1,1, 10, 100]}

In [23]:
grid_search = GridSearchCV(LogisticRegression(), param_grid, cv=5, return_train_score= True)
grid_search.fit(X_train, y)