In [77]:
import gc
import os
import datetime

import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import plotly.graph_objects as go

from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb

import requests
import time
from datetime import datetime, timedelta
from bs4 import BeautifulSoup

In [ ]:
pip3 install --user python-snappy

In [47]:
def csv_to_parquet(csv_path, save_name):
    df = pd.read_csv(csv_path)
    df.to_parquet(f"./{save_name}.parquet")
    del df
    gc.collect()
    print(save_name, "Done.")

In [20]:
os.getcwd()

'C:\\deep1\\User\\Untitled Folder'

In [23]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-0.8.3-cp39-cp39-win_amd64.whl (605 kB)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.6.1-cp39-none-win_amd64.whl (1.2 MB)
Requirement already satisfied: packaging in c:\users\jjun6\anaconda3\lib\site-packages (from fastparquet) (21.3)
Requirement already satisfied: fsspec in c:\users\jjun6\anaconda3\lib\site-packages (from fastparquet) (2022.2.0)
Requirement already satisfied: numpy>=1.18 in c:\users\jjun6\anaconda3\lib\site-packages (from fastparquet) (1.21.5)
Requirement already satisfied: pandas>=1.1.0 in c:\users\jjun6\anaconda3\lib\site-packages (from fastparquet) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jjun6\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jjun6\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jjun6\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.1.0->fastparquet) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jjun6\anaconda3\lib\site-packages (from packaging->fastparquet) (3.0.4)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.6.1 fastparquet-0.8.3
Note: you may need to restart the kernel to use updated packages.

In [24]:
csv_to_parquet('./train.csv', 'train')
csv_to_parquet('./test.csv', 'test')

train Done.
test Done.

In [48]:
train = pd.read_parquet('./train.parquet')
test = pd.read_parquet('./test.parquet')

In [49]:
train.head()

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0

In [34]:
pd.read_csv('./data_info.csv')

                      변수명           변수 설명
0                      id             아이디
1               base_date              날짜
2             day_of_week              요일
3               base_hour             시간대
4             road_in_use          도로사용여부
5              lane_count             차로수
6             road_rating            도로등급
7            multi_linked         중용구간 여부
8            connect_code          연결로 코드
9     maximum_speed_limit          최고속도제한
10      weight_restricted          통과제한하중
11       hight_restricted          통과제한높이
12              road_type            도로유형
13         start_latitude        시작지점의 위도
14        start_longitude        시작지점의 경도
15  start_turn_restricted  시작 지점의 회전제한 유무
16           end_latitude        도착지점의 위도
17          end_longitude        도착지점의 경도
18    end_turn_restricted   도작지점의 회전제한 유무
19              road_name             도로명
20        start_node_name           시작지점명
21          end_node_name           도착지점명
22     vehicle_restricted          통과제한차량
23                 target        평균속도(km)

In [35]:
train.isnull().sum()   #null 값 존재 유무

id                       0
base_date                0
day_of_week              0
base_hour                0
lane_count               0
road_rating              0
road_name                0
multi_linked             0
connect_code             0
maximum_speed_limit      0
vehicle_restricted       0
weight_restricted        0
height_restricted        0
road_type                0
start_node_name          0
start_latitude           0
start_longitude          0
start_turn_restricted    0
end_node_name            0
end_latitude             0
end_longitude            0
end_turn_restricted      0
target                   0
dtype: int64

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4701217 entries, 0 to 4701216
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   base_date              int64
 2   day_of_week            int32
 3   base_hour              int64
 4   lane_count             int64
 5   road_rating            int64
 6   road_name              object
 7   multi_linked           int64
 8   connect_code           int64
 9   maximum_speed_limit    float64
 10  vehicle_restricted     float64
 11  weight_restricted      float64
 12  height_restricted      float64
 13  road_type              int64
 14  start_node_name        object
 15  start_latitude         float64
 16  start_longitude        float64
 17  start_turn_restricted  int32
 18  end_node_name          object
 19  end_latitude           float64
 20  end_longitude          float64
 21  end_turn_restricted    int32
 22  target                 float64
dtypes: float64(9), int32(3), int64(7), object(4)
memory usage: 771.2+ MB

In [119]:
df=train.copy()
df
df["base_date"] = df["base_date"].apply(str)

In [120]:
df["base_date2"]= [ 
 datetime.datetime.strptime(timestamp, "%Y%m%d") for timestamp in df["base_date"]
]

In [123]:
pip install holidays

Collecting holidays
  Downloading holidays-0.16-py3-none-any.whl (184 kB)
Collecting hijri-converter
  Downloading hijri_converter-2.2.4-py3-none-any.whl (14 kB)
Collecting korean-lunar-calendar
  Downloading korean_lunar_calendar-0.3.1-py3-none-any.whl (9.0 kB)
Collecting convertdate>=2.3.0
  Downloading convertdate-2.4.0-py3-none-any.whl (47 kB)
Requirement already satisfied: python-dateutil in c:\users\jjun6\anaconda3\lib\site-packages (from holidays) (2.8.2)
Collecting pymeeus<=1,>=0.3.13
  Downloading PyMeeus-0.5.11.tar.gz (5.4 MB)
Requirement already satisfied: six>=1.5 in c:\users\jjun6\anaconda3\lib\site-packages (from python-dateutil->holidays) (1.16.0)
Building wheels for collected packages: pymeeus
  Building wheel for pymeeus (setup.py): started
  Building wheel for pymeeus (setup.py): finished with status 'done'
  Created wheel for pymeeus: filename=PyMeeus-0.5.11-py3-none-any.whl size=730985 sha256=ac75e5806d8da47eee1ff9a358924c03c7ff98c174f82fc9080cd38245ce2dbe
  Stored in directory: c:\users\jjun6\appdata\local\pip\cache\wheels\33\3d\82\4579e9cca41ff991140b2e050bc6df3a38292f26e4fa06b15d
Successfully built pymeeus
Installing collected packages: pymeeus, korean-lunar-calendar, hijri-converter, convertdate, holidays
Successfully installed convertdate-2.4.0 hijri-converter-2.2.4 holidays-0.16 korean-lunar-calendar-0.3.1 pymeeus-0.5.11
Note: you may need to restart the kernel to use updated packages.

In [132]:
import holidays


# 한국 휴일 객체 생성 
kr_holidays = holidays.KR()
df['base_date2'] = sorted(df['base_date2'])
df['holiday'] = df['base_date2'].apply(lambda x: 'holiday' if x in kr_holidays else 'non-holiday')
df['holiday'].shape

(4701217,)

In [102]:
df["Year"]= df['base_date'].dt.year
df["Month"]= df['base_date'].dt.month
df["day"]= df['base_date'].dt.day
#주말 확인
df["week"] = df['base_date'].dt.weekday


if (df["week"] == 5 or df["week"] == 6) :
    return true
df.head()

SyntaxError: 'return' outside function (3639265562.py, line 9)

In [90]:
str_col = ['day_of_week','start_turn_restricted','end_turn_restricted']
for i in str_col:
    le = LabelEncoder()
    le=le.fit(train[i])
    train[i]=le.transform(train[i])
    
    for label in np.unique(test[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test[i]=le.transform(test[i])

train

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,1,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,0,제3교래교,33.427749,126.662335,0,52.0
1,TRAIN_0000001,20220728,1,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,1,KAL사거리,33.504811,126.526240,0,30.0
2,TRAIN_0000002,20211010,4,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,0,상창육교,33.280072,126.362147,0,61.0
3,TRAIN_0000003,20220311,0,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,0,서현주택,33.245565,126.566228,0,20.0
4,TRAIN_0000004,20211005,6,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,0,애월입구,33.462677,126.330152,0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,TRAIN_4701212,20211104,1,16,1,107,-,0,0,50.0,...,0,대림사거리,33.422145,126.278125,0,금덕해운,33.420955,126.273750,0,20.0
4701213,TRAIN_4701213,20220331,1,2,2,107,-,0,0,80.0,...,3,광삼교,33.472505,126.424368,0,광삼교,33.472525,126.424890,0,65.0
4701214,TRAIN_4701214,20220613,3,22,2,103,일반국도12호선,0,0,60.0,...,0,고성교차로,33.447183,126.912579,0,성산교차로,33.444121,126.912948,0,30.0
4701215,TRAIN_4701215,20211020,2,2,2,103,일반국도95호선,0,0,80.0,...,0,제6광령교,33.443596,126.431817,0,관광대학입구,33.444996,126.433332,0,73.0
4701216,TRAIN_4701216,20211019,6,6,2,107,경찰로,0,0,60.0,...,0,서귀포경찰서,33.256785,126.508940,0,시민공원,33.257130,126.510364,0,35.0

In [27]:
y_train = train['target'] 

X_train = train.drop(['id','base_date', 'target','road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

test = test.drop(['id','base_date', 'road_name', 'start_node_name', 'end_node_name','vehicle_restricted'], axis=1)

print(X_train.shape)
print(y_train.shape)
print(test.shape)

(4701217, 16)
(4701217,)
(291241, 16)

In [28]:
LR = lgb.LGBMRegressor(random_state=42).fit(X_train, y_train)

In [29]:
pred = LR.predict(test)

In [30]:
sample_submission = pd.read_csv('./sample_submission.csv')

In [31]:
sample_submission['target'] = pred
sample_submission.to_csv("./submit.csv", index = False)

In [32]:
sample_submission

                 id     target
0       TEST_000000  27.298710
1       TEST_000001  43.949243
2       TEST_000002  60.552621
3       TEST_000003  36.499322
4       TEST_000004  37.510570
...             ...        ...
291236  TEST_291236  45.902276
291237  TEST_291237  52.604831
291238  TEST_291238  21.964371
291239  TEST_291239  25.402628
291240  TEST_291240  41.406265

[291241 rows x 2 columns]

                      변수명           변수 설명
0                      id             아이디
1               base_date              날짜
2             day_of_week              요일
3               base_hour             시간대
4             road_in_use          도로사용여부
5              lane_count             차로수
6             road_rating            도로등급
7            multi_linked         중용구간 여부
8            connect_code          연결로 코드
9     maximum_speed_limit          최고속도제한
10      weight_restricted          통과제한하중
11       hight_restricted          통과제한높이
12              road_type            도로유형
13         start_latitude        시작지점의 위도
14        start_longitude        시작지점의 경도
15  start_turn_restricted  시작 지점의 회전제한 유무
16           end_latitude        도착지점의 위도
17          end_longitude        도착지점의 경도
18    end_turn_restricted   도작지점의 회전제한 유무
19              road_name             도로명
20        start_node_name           시작지점명
21          end_node_name           도착지점명
22     vehicle_restricted          통과제한차량
23                 target        평균속도(km)